main{
    display: flex;
    flex-direction: column;
}

/* Searchbar */

.searchBar{
    align-self: center;
}

.searchBar input{
    width: 110%;
}

.searchBar button{
    width: 48px;
    border-radius: 15px;
}

.btn i{
    display: initial;
}

.searchText{
    display: none;
}



/* Filter */

.filter{
    flex-direction: column;
    align-items: flex-start;
}

.filter p{
    margin: 10px;
}


/* HOSTING */

#Hosting{
    width: 100%;
    flex-direction: column-reverse;
}

/* Article */

article{
    width: 100%;
    margin: 0;
}

article .card{
    width: 45%;
}

aside{
    width: 100%;
    margin: 0 0 25px 0;
}

/* Aside */

aside .textArea{
    width: 60%;
}


#Activities .cardBlock{
    width: 100%;
    height: 1000px;   
}

#Activities .card{
    width: 47%;
}

.card.item1, .card.item6 {
    height: 400px;
}

.card.item2, .card.item5 {
    height: 300px;
}

.card.item3, .card.item4 {
    height: 200px;
}






@media screen and (max-width: 768px){

.title{
    font-size: var(--fs-600-m);
}

body{
    font-size: var(--fs-200-m); 
}



.blockPage{
    padding: 0px
}

/* HEADER -----------------------------------------*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}


nav, nav ul{
    width: 100%;
    margin: 10px 0 0 0;
}

nav a{
    padding: 15px 0;
    border: none !important;
    border-bottom: var(--lightColor) 3px solid !important;
    transition-duration: 1000ms;
    transition-property: border-bottom, color, font-weight;
}

nav a:hover{
    border: none !important;
    border-bottom: royalblue 3px solid !important;

}


/* MAIN ------------ */

.title{
    font-size: var(--fs-600-m);
}

h1.title{
    padding:25px 20px 10px 25px;
}

main>p{
    padding: 0 0 25px 25px;
}

/* Searchbar */



.searchBar input{
    width: 110%;
}

.searchBar button{
    width: 48px;
    border-radius: 15px;
}


/* Filter ================================== */


.filterButton{
    margin: 5px 20px 5px 0;
}

.bgIcone{
    border-radius: 25px;
}

.infoText{
    padding: 0 15px 20px 25px;
}



/*=== HOSTING ============================= */

#Hosting .card{
    width: 100%;
}


aside{
    width: 100%;
    margin: 0;
    padding: 25px;
    border-radius: 0px;
}

aside .cardBlock{
    flex-direction: column;
}

aside .card{
    margin: 10px;

}

aside .textArea{
    padding: 0 10px 0 10px;
}

article{
    width: 100%;
    padding:25px;
    background: none;
}

article .card{
    height: 220px;
}

article .textArea{
    padding-left: 10px;
}

/*=== ACTIVITIES ============================= */

#Activities{
    width: 100%;
    padding: 25px;
}

#Activities .cardBlock{
    height: 100%;
    align-content: center;
}

#Activities .card{
    width: 100%;
    height: 200px;
    margin: 15px;
}

.activitiesPicture{
    height: 70%;
}

#Activities .cardName{
    height: 30%;
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
}



/* FOOTER ----------------------*/

.footerBlock{
    display: flex;
    flex-direction: column;
}

.footerBlock ul{
    width: 100%;  
    margin: 10px;

}






