
.searchBar{
    justify-content: center;
}

#Hosting{
    width: 100%;
    flex-direction: column-reverse;
}

aside{
    width: 100%;
    
    margin: 0;
    margin-bottom: 25px;
    padding: 25px;
}

aside .cardBlock{
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

aside .card{
    width: 45%;
    flex-direction: row;
}


aside .textArea{
    width: 100%;
    align-items: center;
}

article{
    width: 100%;
}

article .card{
    width: 45%;
}



@media screen and (max-width: 768px){


body{
font-size: var(--fs-200-m); 
}





.blockPage{
    padding: 0px
}

/* HEADER -----------------------------------------*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}


nav, nav ul{
    width: 100%;
    margin: 10px 0 0 0;
}

nav a{
    padding: 15px 0;
    border: none !important;
    border-bottom: var(--lightColor) 3px solid !important;
    transition-duration: 500ms;
    transition-property: border-bottom, color, font-weight;
}

nav a:hover{
    border: none !important;
    border-bottom: royalblue 3px solid !important;

}


/* MAIN ------------ */

.title{
    font-size: var(--fs-600-m);
}

h1.title{
    padding:25px 20px 10px 25px;
}

main>p{
    padding: 0 0 25px 25px;
}

/* Searchbar */


.searchBar{
    width: 100%;
}

.searchBar input{
    width: 265px;
}

.searchBar button{
    width: 50px;
    border-radius: 15px;
}

.btn i{
    display: initial;
}

.searchText{
    display: none;
}

/* Filter */

.filterBlock{
    margin: 25px;
    flex-direction: column;
    align-items: flex-start;
}

.filterBlock p{
    margin: 0 0 10px;
}

.filterBlock ul{
    padding: 0 30px 0 0;
    display: flex;
}

.filterButton{
    margin: 5px 20px 5px 0;
    border-radius: 25px;    
}

.bgIcone{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.infoText{
    padding: 0 15px 20px 25px;
}


.infoText i{
    width: 40px;
    height: 40px;
    border-radius: 25px;
}


/*=== HOSTING ============================= */

#Hosting{             /*----------- double en mode tablette ----------------------------*/
    width: 100%; 
    flex-direction: column-reverse;
}

#Hosting .cardBlock{
    flex-direction: column;
}

#Hosting .card{
    width: 100%;
}

aside{
    width: 100%;
    padding: 25px;
    border-radius: 0px;
}

aside .card{
    aspect-ratio: 21 / 9;
    margin: 10px;

}

aside .housingPicture{
    height: 100%;
}

aside .textArea{
    padding: 0 10px 0 10px;
    align-items: flex-start;
}

article{
    width: 100%;
    padding:25px;
    background: none;
}

article .card{
    aspect-ratio: 672 / 400;
   /* height: 250px;*/
}

article .housingPicture{
    height: 60%;
}

article .textArea{
    padding-left: 10px;
}

/*=== ACTIVITIES ============================= */

#Activities{
    padding: 25px;
}

#Activities .cardBlock{
    height: 100%;
    
}

#Activities .card{
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 15px;
}

.activitiesPicture{
    height: 100%;
}

#Activities .cardName{
    height: 100px;
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
}



/* FOOTER ----------------------*/

.footerBlock{
    display: flex;
    flex-direction: column;
}

.footerBlock ul{
    width: 100%;    
    margin: 10px;

}

}