footer{
    
    background-color: var(--bgColor);
}

.footerBlock{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;    
}


footer ul{
    list-style: none;
    width: 30%;
    
}

.footerTitle{
    font-weight: bold;
    margin-bottom: 10px;
}

footer li{
    padding: 3px;
}